/vendor/
/composer.lock
php/.idea

# Ruby
ruby/.idea/.name
ruby/.idea/.rakeTasks
ruby/.idea/encodings.xml
ruby/.idea/misc.xml
ruby/.idea/modules.xml
ruby/.idea/ruby.iml
ruby/.idea/scopes/scope_settings.xml
ruby/.idea/vcs.xml
ruby/.idea/workspace.xml

# Vagrant
.vagrant
